.Header {
  background: #FFF;
  color: #222;
  border-bottom: 3px solid $red-color;
  box-shadow: 0 16px 0 $red-color;
  margin: 50px;
}

.Header__body {
  display: flex;
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.Header__title {
  flex: 1;
  padding: 20px 0;
  font-family: 'Fredoka One', cursive;
  a {
    font-size: 6em;
    font-weight: bold;
    position: relative;
    color: $green-color;
    text-decoration: none;
    display: block;
    padding: 2px;
  }
}

.Header__summary {
  text-decoration: none;
  color: #222;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}

